# .env

# GORM dsn (https://gorm.io/docs/connecting_to_the_database.html#PostgreSQL)
DSN="host=[HOST_ADDRESS] user=[DB_USER] password=[PASSWORD] dbname=[DB_NAME] port=[HOST_PORT] sslmode=[SSL_MODE] TimeZone=[TZ_IDENTIFIER]"

# Random string used for securing JWTs
JWT_SECRET="your_jwt_secret_key"

# Exposed port number for API
PORT="5432"
