# .env

# GORM dsn (https://gorm.io/docs/connecting_to_the_database.html#PostgreSQL)
DSN="your_postgres_database_dsn"

# Random string used for securing JWTs
JWT_SECRET="your_jwt_secret_key"

# Exposed port number for API
PORT="5432"
